/example-project/app/.idea/
/app/.gradle/
/app/.idea/
/app/build/
/app/.gradle/7.0.1/fileChanges/last-build.bin
/app/.gradle/7.0.1/fileHashes/fileHashes.lock
/app/.gradle/7.0.1/gc.properties
/app/.gradle/7.2/dependencies-accessors/dependencies-accessors.lock
/app/.gradle/7.2/dependencies-accessors/gc.properties
/app/.gradle/7.2/executionHistory/executionHistory.bin
/app/.gradle/7.2/executionHistory/executionHistory.lock
/app/.gradle/7.2/fileChanges/last-build.bin
/app/.gradle/7.2/fileHashes/fileHashes.bin
/app/.gradle/7.2/fileHashes/fileHashes.lock
/app/.gradle/7.2/fileHashes/resourceHashesCache.bin
/app/.gradle/7.2/gc.properties
/app/.gradle/7.4/checksums/checksums.lock
/app/.gradle/7.4/checksums/md5-checksums.bin
/app/.gradle/7.4/checksums/sha1-checksums.bin
/app/.gradle/7.4/dependencies-accessors/dependencies-accessors.lock
/app/.gradle/7.4/dependencies-accessors/gc.properties
/app/.gradle/7.4/executionHistory/executionHistory.bin
/app/.gradle/7.4/executionHistory/executionHistory.lock
/app/.gradle/7.4/fileChanges/last-build.bin
/app/.gradle/7.4/fileHashes/fileHashes.bin
/app/.gradle/7.4/fileHashes/fileHashes.lock
/app/.gradle/7.4/fileHashes/resourceHashesCache.bin
/app/.gradle/7.4/gc.properties
/app/.gradle/buildOutputCleanup/buildOutputCleanup.lock
/app/.gradle/buildOutputCleanup/cache.properties
/app/.gradle/buildOutputCleanup/outputFiles.bin
/app/.gradle/checksums/checksums.lock
/app/.gradle/file-system.probe
/app/.gradle/vcs-1/gc.properties
/app/.gradle/workspace-id.txt
/app/.gradle/workspace-id.txt.lock
/app/.idea/.gitignore
/app/.idea/compiler.xml
/app/.idea/gradle.xml
/app/.idea/jarRepositories.xml
/app/.idea/misc.xml
/app/.idea/uiDesigner.xml
/app/.idea/vcs.xml
/app/build/classes/java/main/hexlet/code/App.class
/app/build/classes/java/main/hexlet/code/Differ.class
/app/build/classes/java/main/hexlet/code/Differences.class
/app/build/classes/java/main/hexlet/code/ItemFromFiles.class
/app/build/classes/java/main/hexlet/code/Parser$1.class
/app/build/classes/java/main/hexlet/code/Parser$2.class
/app/build/classes/java/main/hexlet/code/Parser.class
/app/build/classes/java/main/hexlet/code/UtilsForFiles.class
/app/build/classes/java/main/hexlet/code/formatters/Formatter.class
/app/build/classes/java/main/hexlet/code/formatters/Json.class
/app/build/classes/java/main/hexlet/code/formatters/Plain.class
/app/build/classes/java/main/hexlet/code/formatters/Stylish.class
/app/build/classes/java/test/AppTest.class
/app/build/distributions/app-1.0-SNAPSHOT.tar
/app/build/distributions/app-1.0-SNAPSHOT.zip
/app/build/distributions/app-1.0.3-SNAPSHOT.tar
/app/build/distributions/app-1.0.3-SNAPSHOT.zip
/app/build/install/app/bin/app
/app/build/install/app/bin/app.bat
/app/build/install/app/lib/Saxon-HE-11.4.jar
/app/build/install/app/lib/antlr4-runtime-4.11.1.jar
/app/build/install/app/lib/app-1.0.3-SNAPSHOT.jar
/app/build/install/app/lib/checker-qual-3.25.0.jar
/app/build/install/app/lib/checkstyle-10.3.4.jar
/app/build/install/app/lib/commons-beanutils-1.9.4.jar
/app/build/install/app/lib/commons-codec-1.15.jar
/app/build/install/app/lib/commons-collections-3.2.2.jar
/app/build/install/app/lib/commons-logging-1.2.jar
/app/build/install/app/lib/error_prone_annotations-2.11.0.jar
/app/build/install/app/lib/failureaccess-1.0.1.jar
/app/build/install/app/lib/guava-31.1-jre.jar
/app/build/install/app/lib/httpclient5-5.1.3.jar
/app/build/install/app/lib/httpcore5-5.1.3.jar
/app/build/install/app/lib/httpcore5-h2-5.1.3.jar
/app/build/install/app/lib/j2objc-annotations-1.3.jar
/app/build/install/app/lib/jackson-annotations-2.13.4.jar
/app/build/install/app/lib/jackson-core-2.13.4.jar
/app/build/install/app/lib/jackson-databind-2.13.4.jar
/app/build/install/app/lib/jackson-dataformat-yaml-2.13.4.jar
/app/build/install/app/lib/javassist-3.28.0-GA.jar
/app/build/install/app/lib/jsr305-3.0.2.jar
/app/build/install/app/lib/junit-jupiter-api-5.9.0.jar
/app/build/install/app/lib/junit-jupiter-engine-5.9.0.jar
/app/build/install/app/lib/junit-platform-commons-1.9.0.jar
/app/build/install/app/lib/junit-platform-engine-1.9.0.jar
/app/build/install/app/lib/listenablefuture-9999.0-empty-to-avoid-conflict-with-guava.jar
/app/build/install/app/lib/opentest4j-1.2.0.jar
/app/build/install/app/lib/picocli-4.6.3.jar
/app/build/install/app/lib/reflections-0.10.2.jar
/app/build/install/app/lib/slf4j-api-1.7.32.jar
/app/build/install/app/lib/snakeyaml-1.31.jar
/app/build/install/app/lib/xmlresolver-4.4.3-data.jar
/app/build/install/app/lib/xmlresolver-4.4.3.jar
/app/build/jacoco/test.exec
/app/build/libs/app-1.0-SNAPSHOT.jar
/app/build/libs/app-1.0.3-SNAPSHOT.jar
/app/build/reports/checkstyle/main.html
/app/build/reports/checkstyle/main.xml
/app/build/reports/checkstyle/test.html
/app/build/reports/checkstyle/test.xml
/app/build/reports/jacoco/test/html/hexlet.code/App.html
/app/build/reports/jacoco/test/html/hexlet.code/App.java.html
/app/build/reports/jacoco/test/html/hexlet.code/Differ.html
/app/build/reports/jacoco/test/html/hexlet.code/Differ.java.html
/app/build/reports/jacoco/test/html/hexlet.code/Differences.html
/app/build/reports/jacoco/test/html/hexlet.code/Differences.java.html
/app/build/reports/jacoco/test/html/hexlet.code/ItemFromFiles.html
/app/build/reports/jacoco/test/html/hexlet.code/ItemFromFiles.java.html
/app/build/reports/jacoco/test/html/hexlet.code/Parser$1.html
/app/build/reports/jacoco/test/html/hexlet.code/Parser$2.html
/app/build/reports/jacoco/test/html/hexlet.code/Parser.html
/app/build/reports/jacoco/test/html/hexlet.code/Parser.java.html
/app/build/reports/jacoco/test/html/hexlet.code/UtilsForFiles.html
/app/build/reports/jacoco/test/html/hexlet.code/UtilsForFiles.java.html
/app/build/reports/jacoco/test/html/hexlet.code/index.html
/app/build/reports/jacoco/test/html/hexlet.code/index.source.html
/app/build/reports/jacoco/test/html/hexlet.code.formatters/Formatter.html
/app/build/reports/jacoco/test/html/hexlet.code.formatters/Formatter.java.html
/app/build/reports/jacoco/test/html/hexlet.code.formatters/Json.html
/app/build/reports/jacoco/test/html/hexlet.code.formatters/Json.java.html
/app/build/reports/jacoco/test/html/hexlet.code.formatters/Plain.html
/app/build/reports/jacoco/test/html/hexlet.code.formatters/Plain.java.html
/app/build/reports/jacoco/test/html/hexlet.code.formatters/Stylish.html
/app/build/reports/jacoco/test/html/hexlet.code.formatters/Stylish.java.html
/app/build/reports/jacoco/test/html/hexlet.code.formatters/index.html
/app/build/reports/jacoco/test/html/hexlet.code.formatters/index.source.html
/app/build/reports/jacoco/test/html/index.html
/app/build/reports/jacoco/test/html/jacoco-resources/branchfc.gif
/app/build/reports/jacoco/test/html/jacoco-resources/branchnc.gif
/app/build/reports/jacoco/test/html/jacoco-resources/branchpc.gif
/app/build/reports/jacoco/test/html/jacoco-resources/bundle.gif
/app/build/reports/jacoco/test/html/jacoco-resources/class.gif
/app/build/reports/jacoco/test/html/jacoco-resources/down.gif
/app/build/reports/jacoco/test/html/jacoco-resources/greenbar.gif
/app/build/reports/jacoco/test/html/jacoco-resources/group.gif
/app/build/reports/jacoco/test/html/jacoco-resources/method.gif
/app/build/reports/jacoco/test/html/jacoco-resources/package.gif
/app/build/reports/jacoco/test/html/jacoco-resources/prettify.css
/app/build/reports/jacoco/test/html/jacoco-resources/prettify.js
/app/build/reports/jacoco/test/html/jacoco-resources/redbar.gif
/app/build/reports/jacoco/test/html/jacoco-resources/report.css
/app/build/reports/jacoco/test/html/jacoco-resources/report.gif
/app/build/reports/jacoco/test/html/jacoco-resources/session.gif
/app/build/reports/jacoco/test/html/jacoco-resources/sort.gif
/app/build/reports/jacoco/test/html/jacoco-resources/sort.js
/app/build/reports/jacoco/test/html/jacoco-resources/source.gif
/app/build/reports/jacoco/test/html/jacoco-resources/up.gif
/app/build/reports/jacoco/test/html/jacoco-sessions.html
/app/build/reports/jacoco/test/jacocoTestReport.xml
/app/build/reports/tests/test/classes/AppTest.html
/app/build/reports/tests/test/css/base-style.css
/app/build/reports/tests/test/css/style.css
/app/build/reports/tests/test/index.html
/app/build/reports/tests/test/js/report.js
/app/build/reports/tests/test/packages/default-package.html
/app/build/resources/main/file1.json
/app/build/resources/main/file2.json
/app/build/resources/test/file1Test.json
/app/build/resources/test/file1Test.yml
/app/build/resources/test/file2Test.json
/app/build/resources/test/file2Test.yml
/app/build/resources/test/file3Test.json
/app/build/resources/test/file4Test.json
/app/build/resources/test/fixtures/cheking_json1.json
/app/build/resources/test/fixtures/cheking_json2.txt
/app/build/resources/test/fixtures/cheking_plain.txt
/app/build/resources/test/fixtures/cheking_stylish.txt
/app/build/scripts/app
/app/build/scripts/app.bat
/app/build/test-results/test/TEST-AppTest.xml
/app/build/test-results/test/binary/output.bin
/app/build/test-results/test/binary/output.bin.idx
/app/build/test-results/test/binary/results.bin
/app/build/tmp/compileJava/previous-compilation-data.bin
/app/build/tmp/compileTestJava/previous-compilation-data.bin
/app/build/tmp/expandedArchives/org.jacoco.agent-0.8.7.jar_3a83c50b4a016f281c4e9f3500d16b55/META-INF/MANIFEST.MF
/app/build/tmp/expandedArchives/org.jacoco.agent-0.8.7.jar_3a83c50b4a016f281c4e9f3500d16b55/META-INF/maven/org.jacoco/org.jacoco.agent/pom.properties
/app/build/tmp/expandedArchives/org.jacoco.agent-0.8.7.jar_3a83c50b4a016f281c4e9f3500d16b55/META-INF/maven/org.jacoco/org.jacoco.agent/pom.xml
/app/build/tmp/expandedArchives/org.jacoco.agent-0.8.7.jar_3a83c50b4a016f281c4e9f3500d16b55/about.html
/app/build/tmp/expandedArchives/org.jacoco.agent-0.8.7.jar_3a83c50b4a016f281c4e9f3500d16b55/jacocoagent.jar
/app/build/tmp/expandedArchives/org.jacoco.agent-0.8.7.jar_3a83c50b4a016f281c4e9f3500d16b55/org/jacoco/agent/AgentJar.class
/app/build/tmp/jar/MANIFEST.MF
